{% extends 'calc/base.html' %}

{% block content %}


<!-- navbar-light bg-light -->
    <!-- <div class="d-flex justify-content-between hidden-lg-up"> -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar_header">
      <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/calc/" id="navbar-title">Carbon Dividend Calculator</a>
        </div>

        <!-- this div hides the items from the navigation bar for smaller screens -->
          <div id="navbar" class="collapse navbar-collapse">
            <!-- navbar-right -->
              <ul class="nav navbar-nav">
                  <li>
                    <a href="/calc/">Home</a>
                  </li>
                  <li>
                    <a href="/calc/input">Calculator</a>
                  </li>
                  <li>
                    <a href="/calc/about_policy">Policy</a>
                  </li>
                  <li class="active">
                    <a href="/calc/about_calculator">About</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

<html>
<body>

<div class="container text-center">
  <h1>About</h1>
</div>

<div class="jumbotron text-center">
  Hi! We are a group of four Princeton University Undergraduates. We paired up with the Princeton Student Climate Initiative to provide an intuitive way for New Jersey citizens to learn more about the proposed carbon fee policy in New Jersey.
</div>
    
<div class="jumbotron text-center">
    To view the source code for this calculator, see <a href="https://lujonathanh.github.io/njcdc" style="color: #FFFFFF">here.</a>
</div>

</body>
</html>
{% endblock %}
