{% extends 'calc/base.html' %}

{% block content %}


<!-- navbar-light bg-light -->
    <!-- <div class="d-flex justify-content-between hidden-lg-up"> -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar_header">
      <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/calc/" id="navbar-title">Carbon Dividend Calculator</a>
        </div>

        <!-- this div hides the items from the navigation bar for smaller screens -->
          <div id="navbar" class="collapse navbar-collapse">
            <!-- navbar-right -->
              <ul class="nav navbar-nav">
                  <li>
                    <a href="/calc/">Home</a>
                  </li>
                  <li>
                    <a href="/calc/input">Calculator</a>
                  </li>
                  <li class="active">
                    <a href="/calc/about_policy">Policy</a>
                  </li>
                  <li>
                    <a href="/calc/about_calculator">About</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

<html>
<body>

<div class="container text-center">
  <h1>About</h1>
</div>


<div class="jumbotron jumbotron-small">
  <h2>The Policy</h2>
    <p>
      The proposed policy puts a fee of $30 per metric ton of carbon dioxide at the point of entry to New Jersey.

      For example, 10% ethanol gasoline outputs up to 17.6 pounds of carbon dioxide per gallon,
      so the fee on a gallon of gas is 17.6 pounds CO2 * (1 metric ton / 2205 pounds) * ($30/ 1 metric ton) = $0.24
    </p>
  <h2>The Cost</h2>
  <p>
  This fee is paid by energy producers and sellers. For example, companies like ExxonMobil or BP
  would pay the fee as gasoline is shipped into New Jersey.
  </p>
  <p>
  While ordinary citizens won't directly pay the fee, companies almost surely will have to increase the
  price of affected products. In our calculator, we make the conservative assumption that the entire
  burden of the fee gets passed along to consumers.
  </p>
  <h2>Returning revenue back to New Jersey</h2>
  <p>
  {{rebate_perc}}% of the fee's revenue will be returned equally to all NJ citizens in the form of a check. Another
  The remaining will go to subsidizing vulnerable businesses who, for example, face competition outside of NJ which
  won't be affected by this policy. The final 3% will go to administrative costs.
  </p>
</div>

<div class="container text-center">
<h1>Contact Us</h1>
  <div class="jumbotron jumbotron-small">
Got questions or comments? Please contact us at <a href="mailto:carbondividendcalculator@gmail.com">carbondividendcalculator@gmail.com</a>
<div>
</div>

</div>
</div>
</body>
</html>
{% endblock %}