{% extends 'calc/base.html' %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar_header">
      <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/calc/" id="navbar-title">Carbon Dividend Calculator</a>
        </div>

        <!-- this div hides the items from the navigation bar for smaller screens -->
          <div id="navbar" class="collapse navbar-collapse">
            <!-- navbar-right -->
              <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="/calc/">Home</a>
                  </li>
                  <li>
                    <a href="/calc/input">Calculator</a>
                  </li>
                  <li>
                    <a href="/calc/about">About</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

<html>
<body>

    <section id="about">
      <div class="container">
<div class="jumbotron">
            <p>
                The NJ legislature is currently considering a "carbon fee and dividend" policy which
                puts a price on carbon and distributes most of the revenue evenly among NJ residents
            </p>
            <p>
                The cost of energy will likely increase as companies pay higher costs for fossil fuels, but the
                dividend will help to offset this change
            </p>
            <p>
                This calculator estimates the effect of the policy on <b>your</b> bottom line
            </p>
    </div>
        <div class="text-center">
              <h3>For more details, check out our <a href="about" style="color: #66666"> about</a> page</h3>

             <h4>   Click “Begin” below to get your personalized estimate
            </h4>
            <a href="input" class = "btn btn-default btn-lg" role="button">Begin</a>
          </div>
          </div>

      </div>
    </section>

</body>
</html>

{% endblock %}