{% extends 'calc/base.html' %}


{% block content %}

  {% load static %}
<html>

<!-- navbar-light bg-light -->
    <!-- <div class="d-flex justify-content-between hidden-lg-up"> -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar_header">
      <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/calc/" id="navbar-title">Carbon Dividend Calculator</a>
        </div>

        <!-- this div hides the items from the navigation bar for smaller screens -->
          <div id="navbar" class="collapse navbar-collapse">
            <!-- navbar-right -->
              <ul class="nav navbar-nav">
                  <li>
                    <a href="/calc/">Home</a>
                  </li>
                  <li class="active">
                    <a href="/calc/input">Calculator</a>
                  </li>
                  <li>
                    <a href="/calc/about_policy">Policy</a>
                  </li>
                  <li>
                    <a href="/calc/about_calculator">About</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

<body>


<div>
{% block 'content1' %}
{% if input_form.errors %}
    <div class=" text-center">
    <div class="alert alert-danger">
                <strong>There were errors. Please try again.</strong>
            </div>
    {% for error in input_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
        </div>
{% endif %}




<form action="" method = "post" id="userProfile" load-gasoline-units-url="{% url 'ajax_load_gasoline_units' %}" novalidate>
    {% csrf_token %}
    <div class="jumbotron jumbotron-small text-center">
      Welcome to the Carbon Dividend Calculator! To start, please tell us a little bit about your household, so we can help orient you by providing average expenditure for similar households.
     </div>
    <div class="container text-center">
      <div class=" text-center">
        <div id="basic_info_panel">
          <div>
            <label class="text-center">How many adults (age 18+) live in your home?</label>
              {% if input_form.adults.errors %}
                {% for error in input_form.adults.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
              {% endif %}
            <div class="text-center">{{ input_form.adults }}
              <a href="#" data-toggle="tooltip" id="tooltip" data-placement="top" title="The number of adults living at home"><img src="{% static "calc/question.png" %}" width="15" height="15"></a>
            </div>
          </div>
          <br/>
          <div>
            <label>How many children live in your home?</label>
              {% if input_form.children.errors %}
                {% for error in input_form.children.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
              {% endif %}
            <div class="text-center">{{ input_form.children }}
              <a href="#" data-toggle="tooltip" id="tooltip" data-placement="top" title="The number of children living at home"><img src="{% static "calc/question.png" %}" width="15" height="15"></a>
            </div>
          </div> 
        </div>
      </div> 
    </div>


    <div class="jumbotron text-center">
     Please tell us about your gasoline, heating and electricity usage. We filled in average answers for households similar to yours, but the more accurately you'll be able to approximate your spending, the more accurate of a carbon tax impact estimate we will be able to provide.
     </div>
    <div class="container">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div id="heat_panel" class="text-center">
            <div>
                <h1><img src="{% static "calc/car.png" %}" width="30" height="30"> Gasoline</h1>
                </br>
                <div>
                    <label>What type of gasoline do you normally use?</label>
                    {% if input_form.gasoline_type.errors %}
                    {% for error in input_form.gasoline_type.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  {% endif %}
                    <div class="text-center">{{ input_form.gasoline_type }}
                        <a href="#" data-toggle="tooltip" id="tooltip" data-placement="top" title="Different gasoline types produce different amounts of carbon emissions when burned."><img src="{% static "calc/question.png" %}" width="15" height="15"></a>
                    </div>
                </div> 
                <br/>
                <!--<div>-->
                    <!--<label>Choose input type</label>-->
                      <!--<div class="text-center" id="gas_input">{{ input_form.gasoline_input }}</div>-->
                <!--</div> -->
                </br>
                <div>
                    <label>About how much gasoline do you use in a month?</label>
                    {% if input_form.gasoline_amt.errors %}
                    {% for error in input_form.gasoline_amt.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  {% endif %}
                    <div class="text-center">{{ input_form.gasoline_amt }} {{ gasoline_unit }}
                        <a href="#" data-toggle="tooltip" id="tooltip" data-placement="top" title="This will help us estimate your carbon emissions."><img src="{% static "calc/question.png" %}" width="15" height="15"></a>
                    </div>
                </div> 
          </div>
        </div>
        </div>
        <br class="hidden-md hidden-lg">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div id="heat_panel" class="text-center">
<!--                 <div class="form-heat-type">Please tell us about your heat usage</div> -->
               <h1 ><img src="{% static "calc/house.png" %}" width="30" height="32">       Heating</h1>
           </br>
                <div >
                    <label>What do you use to heat your house?</label>
                    If you use electricity, just list 0 here.
                    {% if input_form.heating_type.errors %}
                    {% for error in input_form.heating_type.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  {% endif %}
                    <div class="text-center">{{ input_form.heating_type }}
                        <a href="#" data-toggle="tooltip" id="tooltip" data-placement="top" title="This will help us estimate your carbon emissions."><img src="{% static "calc/question.png" %}" width="15" height="15"></a>
                    </div>
                </div> 
                </br>
                <!--<div>-->
                    <!--<label>Choose input type</label>-->
                      <!--<div class="text-center">{{ input_form.heating_input }}</div>-->
                <!--</div> -->
                </br>
                <div>
                    <label>About how much do you use in a month?</label>
                    {% if input_form.heating_amt.errors %}
                    {% for error in input_form.heating_amt.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  {% endif %}
                    <div class="text-center">{{ input_form.heating_amt }}{{ input_form.heating_unit }}
                        <a href="#" data-toggle="tooltip" id="tooltip" data-placement="top" title="This will help us estimate your carbon emissions."><img src="{% static "calc/question.png" %}" width="15" height="15"></a>
                    </div>
                </div> 
            </div>
        </div>
        <br class="hidden-md hidden-lg">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div id="electricity_panel" class="text-center">
               
               <h1 ><img src="{% static "calc/electricity.png" %}" width="30" height="32">
                  Electricity </h1>
               </br>
               <div>
                    <label>What is the source of electricity in your household?</label>
                   {% if input_form.elec_type.errors %}
                    {% for error in input_form.elec_type.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  {% endif %}
                    <div class="text-center">{{ input_form.elec_type }}
                        <a href="#" data-toggle="tooltip" id="tooltip" data-placement="top" title="This will help us estimate your carbon emissions."><img src="{% static "calc/question.png" %}" width="15" height="15"></a>
                    </div>
                </div> 
                </br>
                <!--<div>-->
                    <!--<label>Choose input type</label>-->
                      <!--<div class="text-center">{{ input_form.elec_input }}</div>-->
                <!--</div> -->
                </br>
                <div>
                    <label>About how much electricity do you use?</label>
                    {% if input_form.elec_amt.errors %}
                    {% for error in input_form.elec_amt.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  {% endif %}
                    <div class="text-center">{{ input_form.elec_amt }} {{ elec_unit }}
                        <a href="#" data-toggle="tooltip" id="tooltip" data-placement="top" title="This will help us estimate your carbon emissions."><img src="{% static "calc/question.png" %}" width="15" height="15"></a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class = "container text-center">
        <input class="submit btn btn-default btn-lg" type="submit" value="Next"/>
    </div>
    <div class="container"></div>
</form>

    
<script>
    $("#gasoline_unit").change(function () {
      var url = $("#personForm").attr("load-gasoline-units-url");  // get the url of the `load_gasoline_units` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
   $('a#tooltip').on('click', function(e) {e.preventDefault(); return true;});
</script>

<script>
//fetch the variable name for the type that was input
var document.getElementById("gas_input")
// then update
// for all in ["reg_gas, "pure_gas", "diesel", "bio"] {
//  document.getElementById("reg_gas").style.display = "none";

document.getElementById(name).style.display = "block";
}



</script>


{% endblock %}
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

</body>
</html>

{% endblock %}