<!DOCTYPE html>

<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Carbon Dividend Calculator</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Carbon Dividend Calculator</title>
</head>
<body>
    <!-- navbar-light bg-light -->
    <!-- <div class="d-flex justify-content-between hidden-lg-up"> -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar_header">
      <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/calc/" id="navbar-title">Carbon Dividend Calculator</a>
        </div>

        <!-- this div hides the items from the navigation bar for smaller screens -->
          <div id="navbar" class="collapse navbar-collapse">
            <!-- navbar-right -->
              <ul class="nav navbar-nav">
                  <li>
                    <a href="/calc/">Home</a>
                  </li>
                  <li class="active">
                    <a href="/calc/input">Calculator</a>
                  </li>
                  <li>
                    <a href="/calc/about">About</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Carbon Dividend Calculator</h1>
        <p class="lead">Carbon fee and dividend puts a price on carbon and returns the money to households and businesses</p>
    </div>
</header>

<style>
.container {
  margin-top: 50px;
}
</style>
<div>
{% block 'content1' %}
{{ input_form.non_field_errors }}
<form action="" method = "post">
    {% csrf_token %}
    <div class="container col-sm-0 col-md-4 col-lg-4"></div>
    <div class="container">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="basic_questions" class="container">
                <div id="basic_info_panel">
<!--                 <div class="form_title no_print">Tell us a little bit about your household</div>
                <div class="explanation no_print sub_heading">We will not save your data.</div> -->
                    <div class="form-adults">
                        <label for="adults">How many adults (age 18+) live in your home?</label>
                        <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                        <p>{{ input_form.adults.label_tag }}{{ input_form.adults }}</p>
                    </div> 
                    <div class="form-children">
                        <label for="children">How many children live in your home?</label>
                        <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                        <p>{{ input_form.children.label_tag }}{{ input_form.children }}</p>
                    </div> 
                    <div class="form-fee">
                        <label for="fee">How many adults (age 18+) live in your home?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.fee.label_tag }}{{ input_form.fee }}</p>
                    </div> 
                <div class="form-rebate">
                    <label for="rebate">How many adults (age 18+) live in your home?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.rebate_portion.label_tag }}{{ input_form.rebate_portion }}</p>
                </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="container col-sm-0 col-md-4 col-lg-4"></div>

    <div class="container"></div>
    <div class="container">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div id="gas_panel">
<!--                 <div class="form_title no_print">Please tell us about your gasoline usage</div>-->
                <div class="form-gas-type">
                    <label for="gas-type">What type of gasoline do you normally use?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.gasoline_type.label_tag }}{{ input_form.gasoline_type }}</p>
                </div> 
                <div class="form-gas-amt">
                    <label for="gas-amt">How much gasoline do you use in a month?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.gasoline_amt.label_tag }}{{ input_form.gasoline_amt }}</p>
                </div> 
                <div class="form-gas-amt">
                    <label for="gas-amt">How much gasoline do you use in a month?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.gasoline_unit.label_tag }}{{ input_form.gasoline_unit }}</p>
                </div> 
            </div>
        </div>
<!--     <div class="col-sm-12 visible-sm"> </div>
 -->    <div class="col-sm-12 col-md-4 col-lg-4">
            <div id="heat_panel">
<!--                 <div class="form-heat-type">Please tell us about your heat usage</div> -->
                <div class="heat-type">
                    <label for="adults">What do you use to heat your house?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.heating_type.label_tag }}{{ input_form.heating_type }}</p>
                </div> 
                <div class="form-heat-amt">
                    <label for="children">How much gasoline do you use in a month?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.heating_amt.label_tag }}{{ input_form.heating_amt }}</p>
                </div> 
                <div class="form-heat-amt">
                    <label for="children">How much gasoline do you use in a month?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.heating_unit.label_tag }}{{ input_form.heating_unit }}</p>
                </div> 
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div id="gas_panel">
<!--                 <div class="form_title no_print">Please tell us about your electricity usage</div>-->               
                <div class="form-adults">
                    <label for="adults">What is the source of electricity in your household?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.elec_type.label_tag }}{{ input_form.elec_type }}</p>
                </div> 
                <div class="form-children">
                    <label for="children">How much electricity do you use?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.elec_amt.label_tag }}{{ input_form.elec_amt }}</p>
                </div> 
                <div class="form-children">
                    <label for="children">How much electricity do you use?</label>
                    <a data-toggle="modal" data-target="#houseSizeDetails" class="explanation_prompt">Explain this</a>
                    <p>{{ input_form.elec_unit.label_tag }}{{ input_form.elec_unit }}</p>
                </div> 
            </div>
        </div>
    </div>
    <div class = "container text-center">
        <input class="submit btn btn-default btn-lg" type="submit" value="Next"/>
    </div>
    <div class="container"></div>
</form>
{% endblock %}
</div>

</body>
</html>